<div
	class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
	<!-- Imagen de fondo con animación -->
	<div
		class="absolute inset-0 bg-cover bg-center bg-no-repeat animate-zoom animate-background"
	></div>
	<!-- Overlay oscuro para mejorar contraste -->
	<div class="absolute inset-0 bg-secondary bg-opacity-60"></div>
	<!-- Imagen en la esquina superior izquierda -->
	<div class="absolute top-0 left-0 p-4">
		<!-- Imagen para pantallas grandes -->
		<img
			class="h-20 w-auto hidden sm:block"
			src="assets/images/welcome/logoWelBN.png"
			alt="DEVIDA"
		/>
		<!-- Imagen para móviles -->
		<img
			class="h-20 max-w-[100%] block sm:hidden"
			src="assets/images/welcome/logoWelBNMini.png"
			alt="DEVIDA"
		/>
	</div>
	<div class="relative z-10 text-white text-center">
		<!-- Titulo -->
		<h1
			class="mt-2 text-4xl md:text-6xl font-bold p-2 text-center text-white hover:text-[#0D9BD7] transition-colors duration-300 flex items-center justify-center gap-2 flex-wrap"
		>
			<img
				src="assets/images/geoico.png"
				alt="Descripción de la imagen"
				class="w-10 h-10 md:w-16 md:h-16"
			/>
			GEOPORTAL
		</h1>
		<!--Sub Titulo -->
		<h1
			class="mt-2 text-2xl md:text-4xl font-bold p-2 text-center text-white hover:text-[#0D9BD7] transition-colors duration-300 flex items-center justify-center gap-2 flex-wrap"
		>
			DIRECCION DE MONITOREO
		</h1>
		<!--Parrafo -->
		<p
			class="text-base md:text-lg lg:text-xl p-6 md:p-10 lg:p-16 text-center text-gray-100 max-w-xl mx-auto transition-all duration-300"
		>
			Accede a información cartográfica georreferenciada.
		</p>

		<div
			class="w-fit bg-opacity-60 rounded-lg mx-auto p-8 text-center grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 md:gap-6 lg:gap-8"
		>
			<!-- Iteramos sobre una lista de botones -->
			<div *ngFor="let boton of botones" class="flex flex-col items-center">
				<a
					routerLink="{{ boton.link }}"
					class="relative flex w-20 h-20 md:w-24 md:h-24 lg:w-28 lg:h-28 justify-center items-center bg-[#0D9BD7] text-white text-sm font-normal rounded-full border-2 border-white shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 overflow-hidden"
				>
					<img
						[src]="boton.icono"
						[alt]="boton.alt"
						class="w-[70%] h-[70%] object-contain"
					/>
				</a>
				<span
					class="mt-2 text-center font-semibold text-sm md:text-base lg:text-lg"
					>{{ boton.texto }}</span
				>
			</div>
		</div>
		<!-- Redes Sociales -->
		<div class="mt-6 flex justify-center gap-6">
			<a
				href="https://web.facebook.com/PCMDEVIDA/?locale=es_LA&_rdc=1&_rdr#"
				target="_blank"
				class="text-white text-2xl hover:text-[#1877f2] transition-colors duration-300"
			>
				<i class="fab fa-facebook"></i>
			</a>
			<a
				href="https://x.com/DEVIDAPERU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
				target="_blank"
				class="text-white text-2xl hover:text-[#000000] transition-colors duration-300"
			>
				<i class="fab fa-x-twitter"></i>
			</a>
			<a
				href="https://www.instagram.com/devidaperu/?hl=es"
				target="_blank"
				class="text-white text-2xl hover:text-[#e4405f] transition-colors duration-300"
			>
				<i class="fab fa-instagram"></i>
			</a>
			<a
				href="https://pe.linkedin.com/company/devida-per-"
				target="_blank"
				class="text-white text-2xl hover:text-[#0077b5] transition-colors duration-300"
			>
				<i class="fab fa-linkedin"></i>
			</a>
			<a
				href="https://www.threads.net/@devidaperu?hl=es"
				target="_blank"
				class="text-white text-2xl hover:text-[#000000] transition-colors duration-300"
			>
				<i class="fab fa-threads"></i>
			</a>
		</div>
	</div>
</div>
