@keyframes zoomInOut {
  100% {
    transform: scale(1);
  }
  75% {
    transform: scale(2);
  }
  50% {
    transform: scale(3);
  }
  25% {
    transform: scale(4);
  }
  0% {
    transform: scale(5);
  }
}
.animate-zoom {
  animation: zoomInOut 10s ease-in-out infinite;
}

@keyframes backgroundChange {
  0% {
    background-image: url('/assets/images/welcome/welcome1.jpg');
  }
  25% {
    background-image: url('/assets/images/welcome/welcome2.avif');
  }
  50% {
    background-image: url('/assets/images/welcome/welcome3.jpg');
  }
  75% {
    background-image: url('/assets/images/welcome/welcome2.avif');
  }
  100% {
    background-image: url('/assets/images/welcome/welcome1.jpg');
  }
}
.animate-background {
  animation: backgroundChange 10s infinite;
}
